chmed16aq/chmed16aq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="PatientType">
		<xs:annotation>
			<xs:documentation>Patient Shorthand</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="E" type="PrivateFieldType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="i">
			<xs:annotation>
				<xs:documentation>Insurance card number for this patient</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string" />
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="g">
			<xs:annotation>
				<xs:documentation>given name of the patient				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="f">
			<xs:annotation>
				<xs:documentation>family name of the patient				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="t">
			<xs:annotation>
				<xs:documentation>telephone number</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ag">
			<xs:annotation>
				<xs:documentation>gender</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1" />
					<xs:pattern value="[mfo]" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="b">
			<xs:annotation>
				<xs:documentation>the date of birth</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="l">
			<xs:annotation>
				<xs:documentation>address street</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="p">
			<xs:annotation>
				<xs:documentation>address postalcode</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="c">
			<xs:annotation>
				<xs:documentation>address city</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="cl">
			<xs:annotation>
				<xs:documentation>Communication Language</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PractitionerType">
		<xs:annotation>
			<xs:documentation>Practitioner Shorthand</xs:documentation>
		</xs:annotation>
		<xs:attribute name="i">
			<xs:annotation>
				<xs:documentation>gln of practitioner:					fhir:attester/fhir:party/fhir:reference/@value and then fhir:Practitioner[fhir:id[@value=$practitionerId]]/fhir:identifier[fhir:system/@value='urn:oid:2.51.1.3']/fhir:value/@value				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="7601[0-9]{9}" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="g">
			<xs:annotation>
				<xs:documentation>given name of the practitioner				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="f">
			<xs:annotation>
				<xs:documentation>family name of the practitioner				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PrivateFieldType">
		<xs:annotation>
			<xs:documentation>PrivateFieldType</xs:documentation>
		</xs:annotation>
		<xs:attribute name="n">
			<xs:annotation>
				<xs:documentation>name of field</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="v">
			<xs:annotation>
				<xs:documentation>value of field</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CompositionType">
		<xs:annotation>
			<xs:documentation>Composition Shorthand</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="A" type="PractitionerType" />
			<xs:element name="P" type="PatientType" />
			<xs:element name="E" type="PrivateFieldType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="i" use="required">
			<xs:annotation>
				<xs:documentation>id as a uuid: fhir:identifier[fhir:system[@value='http://emediplan.ch/chmed16af/id']]/fhir:value/@value				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="36" />
					<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-4[0-9a-fA-F]{3}-[8-9a-bA-B][0-9a-fA-F]{3}-[0-9a-fA-F]{12}" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="d" use="required">
			<xs:annotation>
				<xs:documentation>Date of creation as dateTime: fhir:date/@value				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="-?[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="at">
			<xs:annotation>
				<xs:documentation>Attester, date of validation:					fhir:attester/fhir:time/@value				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="-?[0-9]{4}(-(0[1-9]|1[0-2])(-(0[0-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ap">
			<xs:annotation>
				<xs:documentation>Attester, gln of practitioner:					fhir:attester/fhir:party/fhir:reference/@value and then fhir:Practitioner[fhir:id[@value=$practitionerId]]/fhir:identifier[fhir:system/@value='urn:oid:2.51.1.3']/fhir:value/@value				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="7601[0-9]{9}" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="n">
			<xs:annotation>
				<xs:documentation>Note to medication plan: normalize-space(fhir:section[fhir:code/fhir:coding/fhir:code[@value='48767-8']]/fhir:text/xhtml:div)"				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string" />
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r">
			<xs:annotation>
				<xs:documentation>Practitioner GLN if receiver fhir:extension[@url='http://emediplan.ch/fhir/chmed16af/StructureDefinition/chmed16af-receiver']/fhir:valueReference/fhir:reference/@value					and then fhir:Practitioner[fhir:id[@value=$practitionerId]]/fhir:identifier[fhir:system/@value='urn:oid:2.51.1.3']/fhir:value/@value				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:pattern value="7601[0-9]{9}" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MedicationSectionType">
		<xs:annotation>
			<xs:documentation>Medication Shorthand</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MS" type="MedicationStatementType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MedicationStatementType">
		<xs:annotation>
			<xs:documentation>MedicationStatement Shorthand</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="D" type="DosageType" maxOccurs="unbounded" />
			<xs:element name="E" type="PrivateFieldType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="i" use="required">
			<xs:annotation>
				<xs:documentation>GTIN as identifier</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="13" />
					<xs:pattern value="[0-9]{13}" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="s">
			<xs:annotation>
				<xs:documentation>Selfmedication</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1" />
					<xs:pattern value="[01]" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r">
			<xs:annotation>
				<xs:documentation>Reason for why the medication is being/was taken</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="n">
			<xs:annotation>
				<xs:documentation>Application Instructions</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dn">
			<xs:annotation>
				<xs:documentation>Number of repetitions</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dq">
			<xs:annotation>
				<xs:documentation>Number of packages to be delivered</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="sa">
			<xs:annotation>
				<xs:documentation>Medication is substitutable</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1" />
					<xs:pattern value="[01]" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DosageType">
		<xs:annotation>
			<xs:documentation>Dosage Shorthand</xs:documentation>
		</xs:annotation>
		<xs:attribute name="n">
			<xs:annotation>
				<xs:documentation>sequence number</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:int"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="s">
			<xs:annotation>
				<xs:documentation>Timing boundsPeriod start</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="e">
			<xs:annotation>
				<xs:documentation>Timing boundsPeriod end</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="c">
			<xs:annotation>
				<xs:documentation>Timing count</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:int"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dv">
			<xs:annotation>
				<xs:documentation>Timing Duration</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="du">
			<xs:annotation>
				<xs:documentation>Timing Duration Unit</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="f">
			<xs:annotation>
				<xs:documentation>Timing frequency</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:int"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="p">
			<xs:annotation>
				<xs:documentation>Timing Period</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="pu">
			<xs:annotation>
				<xs:documentation>Timing Period Unit</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="dw">
			<xs:annotation>
				<xs:documentation>Timing DaysOfWeek</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="td">
			<xs:annotation>
				<xs:documentation>Timing TimeOfDays</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="w">
			<xs:annotation>
				<xs:documentation>Timing whens</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r">
			<xs:annotation>
				<xs:documentation>Reservemedication</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1" />
					<xs:pattern value="[01]" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="o">
			<xs:annotation>
				<xs:documentation>Route</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="q">
			<xs:annotation>
				<xs:documentation>Quantity dosage</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="u">
			<xs:annotation>
				<xs:documentation>Unit dosage</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RecommendationType">
		<xs:annotation>
			<xs:documentation>Recommendation Shorthand (PMC)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Q" type="QuestionnaireResponseType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuestionnaireResponseType">
		<xs:annotation>
			<xs:documentation>QuestionnaireResponseType Shorthand (PMC)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="n">
			<xs:annotation>
				<xs:documentation>Question number</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="q">
			<xs:annotation>
				<xs:documentation>Question number asked</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1" />
					<xs:pattern value="[01]" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="p">
			<xs:annotation>
				<xs:documentation>Patient agreed</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1" />
					<xs:pattern value="[01]" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r">
			<xs:annotation>
				<xs:documentation>Remark</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="HealthConcernSectionType">
		<xs:annotation>
			<xs:documentation>HealthConcernSectionType Shorthand			</xs:documentation>
		</xs:annotation>
		<xs:attribute name="w">
			<xs:annotation>
				<xs:documentation>Body Weight</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="h">
			<xs:annotation>
				<xs:documentation>Body Height</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="m">
			<xs:annotation>
				<xs:documentation>First day of last menstruation</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:date"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="p">
			<xs:annotation>
				<xs:documentation>premature baby true only if age smaller 18 months				</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:length value="1" />
					<xs:pattern value="[01]" />
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="tw">
			<xs:annotation>
				<xs:documentation>Time of gestation only if Premature Baby, weeks</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="td">
			<xs:annotation>
				<xs:documentation>Time of gestation only if Premature Baby, days</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:decimal"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r1">
			<xs:annotation>
				<xs:documentation>Renal Insufficiency</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r2">
			<xs:annotation>
				<xs:documentation>Liver Insufficiency</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r3">
			<xs:annotation>
				<xs:documentation>Reproduction</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r4">
			<xs:annotation>
				<xs:documentation>Competitive athlete</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r5">
			<xs:annotation>
				<xs:documentation>Driver</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="r6">
			<xs:annotation>
				<xs:documentation>Allergies</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string"></xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="B">
		<xs:annotation>
			<xs:documentation>CHMED16AQ Bundle Shorthand</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="C" type="CompositionType" />
				<xs:element name="M" type="MedicationSectionType" />
				<xs:element name="H" type="HealthConcernSectionType" minOccurs="0" />
				<xs:element name="R" type="RecommendationType" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="v" use="required">
				<xs:annotation>
					<xs:documentation>version</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3" />
						<xs:pattern value="[0-9].[0-9]" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="d" use="required">
				<xs:annotation>
					<xs:documentation>document</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"></xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>